* {
    font-family: cursive;
    text-align: center;
}

.card {
    grid-column: span 4;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 10px;
    gap: 10px; 
}

.card .descripcion {
    flex: 1; 
    text-align: left; 
}

.card img {
    height: 100px; 
    width: auto; 
    object-fit: cover; 
}

#usuarios {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}


@media (max-width: 768px) {
    .card {
        grid-column: span 6; 
    }
    
    .card img {
        height: 80px; 
    }
}


@media (max-width: 480px) {
    .card {
        grid-column: span 12; 
    }


    .card img {
        height: 60px;
    }
}
